<div class='container-fluid h-auto'>
    
    <div class="card">
        <div class="card-body">
            <div class="card">
                <div class="card-body"style='background-color:rgb(250, 250, 124)'>

                    <div>
                        <h2>Name: {{Name}}</h2>
                    </div>
                </div>
            </div><br>
            <div class="card">
                <div class="card-body"style='background-color:rgb(250, 250, 124)'>

                    <div>
                       <h2>Email: {{email}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
     
   
    <div style='height:2px;background-color: black;width: 100%;'></div>
 
   
    <br>
    <div class='m-auto container-fluid row 'style='width:230px'>
        <button type="button" class="btn btn-outline-primary btn-rounded waves-effect mr-1  "routerLink='mathsz'>Maths </button>
        <button type="button" class="btn btn-outline-primary btn-rounded waves-effect  " routerLink='reasoningz'>Reasoning </button>

    </div>
<router-outlet></router-outlet>
   
</div>