<div style='background-image: url("../asset/images/p3");height: 600px;'>
<div class='text-center'><h2>Instruction Before Test</h2></div>
  <div class='p-auto' Style='border: 1px solid indigo; margin:20px;padding:10px'>
    <h3>1: Each question carry 5 marks</h3>
    <h3>2: Every question attempt is compulsory</h3>
    <h3>3: Button "Mark" is given to mark the question for later solve wintin time limit</h3>
    <h3>4: The paper is of 10 minutes ,after that paper will auto submited </h3>
    <h3>5: No minus marking for wrong question</h3>
</div>

  <button class='container-fluid m-auto  p-auto h-auto btn btn-info 'style='edge-radius:10%;' routerLink='test'>Start Test</button>
</div>