
   
  <html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgb(102, 82, 56);
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(189, 166, 66);
       color: black;
  }
  
  .topnav a.active {
    color: white;
  }
  </style>
  </head>
  <body>
  
  <div class="topnav" >
    <a routerLink='home' routerLink='home' *ngIf='LinkStatu'>TestLitmusTest</a>
    
    <a *ngIf='!LinkStatu' >TestLitmusTest</a>
    <a [hidden]='!LinkStatu'>About</a>
    <a [hidden]='!LinkStatu'routerLink='account'>My Account</a>

  </div>
  
  <div style="padding-left:16px">
   
  </div>
  
  </body>
  </html>
  