<div [hidden]='elementStatus' class='container-fluid' style='background-color: #312d2a;height:200px;padding:20px'>
        <div class='col-md-4 m-auto  test-center' style='color:white'>
                <a routerLink='home' style='color: whitesmoke;'>
                        <h1>TestProz</h1>
                </a>
                <hr style='background-color:white'>

                <a routerLink='home' style='color: whitesmoke;'>Home</a>
                <br>
                <a routerLink='login' style='color: whitesmoke;'>Login</a>
                <br>

                <a routerLink='#' style='color: whitesmoke;'>About</a>
                <br>

        </div>

</div>
